.svn
src/.vs
src/LanIM.Network/obj
src/LanIM.Network/bin
src/LanIM.Server/obj
src/LanIM.UI/obj
src/LanIM.UI/bin
src/LanIM.Common/obj
src/LanIM.Common/bin
src/LanIM.Store/obj
src/LanIM.Store/bin
src/ipmsg/ipmsg
